@import 'libs/bootstrap-reboot.min';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

html {
	background: #363636;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
}

// blocks
@import "blocks/container/container";
@import "blocks/wrapers/mainWraper";
@import "blocks/wrapers/gameWraper";
@import "blocks/wrapers/startWindowWraper";
@import "blocks/startWindow/startWindow";
@import "blocks/scoreWindow/scoreWindow";
@import "blocks/timerWindow/timerWindow";