* {
	box-sizing: border-box;
}

html {
	background: #363636;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.wraper {
	background: linear-gradient(220deg, #534dad, #a098bb);
	box-shadow: 0px 0px 5px 2px #ffbbff;
}