.settingsWraper {
	display: flex;
	align-items: center;
	width: 100%;
	height: 45px;

	&:not(:last-child) {
		margin-bottom: 5px;
	}

	&__settingName {
		width: 150px;
		padding: 5px;
		color: #d6efc0;

		h3 {
			margin: 0;
			font-size: 25px;
		}
	}

	&__settingItems {
		height: 100%;
		flex-grow: 1;
		display: grid;

		div {
			border-radius: 5px;

			&:hover {
				box-shadow: 0px 0px 3px 3px yellow;
			}

			&.active {
				box-shadow: 0px 0px 3px 3px lime;
				border-radius: 15px;

				&:hover {
					box-shadow: 0px 0px 3px 3px lime;
				}
			}
		}

		.customCheckbox {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 20px;
			height: 20px;
			cursor: pointer;

			&:hover {
				box-shadow: none;
			}

			label {
				border: 2px solid lightgray;
				border-radius: 50%;
				width: 100%;
				height: 100%;
			}

			input {
				position: absolute;
				width: 100%;
				height: 100%;
				opacity: 0;
				cursor: pointer;

				&:checked+label {
					background: radial-gradient(lime, green);
					border: none;
				}
			}
		}

		&.sounds {
			div {
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				font-style: italic;
				font-size: 24px;
			}
		}

		&.foodType {
			div {
				display: flex;
				justify-content: center;
				align-items: center;
				color: white;
				font-style: italic;
				font-size: 24px;
			}
		}

		&.fieldColor {
			div {
				&:nth-child(1) {
					background: linear-gradient(220deg, #404040, #413f48);
				}

				&:nth-child(2) {
					background: linear-gradient(220deg, #4841b3, #27262a);
				}

				&:nth-child(3) {
					background: linear-gradient(220deg, #9592bb, #705fab);
				}

				&:nth-child(4) {
					background: linear-gradient(220deg, #ab9422, #056a16);
				}

				&:nth-child(5) {
					background: linear-gradient(220deg, #00408f, #8d2f2f);
				}
			}
		}

		&.snakeColor {
			div {
				&:nth-child(1) {
					background: darkorange;
				}

				&:nth-child(2) {
					background: LimeGreen;
				}

				&:nth-child(3) {
					background: Aqua;
				}

				&:nth-child(4) {
					background: gold;
				}

				&:nth-child(5) {
					background: Snow;
				}
			}
		}

		&.foodColor {
			div {
				&:nth-child(1) {
					background: orangered;
				}

				&:nth-child(2) {
					background: Khaki;
				}

				&:nth-child(3) {
					background: SpringGreen;
				}

				&:nth-child(4) {
					background: DeepSkyBlue;
				}

				&:nth-child(5) {
					background: HotPink;
				}
			}
		}

		&.five {
			grid-template: 100% / repeat(5, calc(100%/5));
			justify-content: center;
			align-items: center;

			div {
				width: 33px;
				height: 33px;
				margin: 0 auto;
				cursor: pointer;
			}

			&:nth-child(1) {
				grid-area: 1/2;
			}

			&:nth-child(2) {
				grid-area: 2/3;
			}

			&:nth-child(3) {
				grid-area: 3/4;
			}

			&:nth-child(4) {
				grid-area: 4/5;
			}

			&:nth-child(5) {
				grid-area: 5/6;
			}
		}

		&.two {
			grid-template: 100% / repeat(2, calc(100%/2));
			justify-content: center;
			align-items: center;

			div {
				cursor: pointer;
			}

			&:nth-child(1) {
				grid-area: 1/2;
			}

			&:nth-child(2) {
				grid-area: 2/3;
			}
		}

		&.one {
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}