.startWindow {
	width: 510px;
	height: 510px;
	padding: 15px;

	h2 {
		text-align: center;
		margin-top: 100px;
		font-size: 72px;
		font-family: cursive;
		font-weight: bold;
		color: #0400ff;
		text-shadow: 3px 3px 1px #8673d3;
		letter-spacing: 3px;

	}

	&__startButton,
	&__settingsButton {
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 0px 15px;
		background: none;
		font-size: 36px;
		line-height: 46px;
		transition: all 0.1s linear;
		border: none;
		cursor: pointer;
		color: #ffffe0;

		&:hover {
			transform: scale(1.05);
			text-decoration: underline;
			color: #ffffff;
		}

		&:active {
			transform: scale(1);
			color: #fff0d0;
		}
	}

	&__startButton {
		margin: 60px auto 0;
	}

	&__settingsButton {
		margin: 0 auto 0;
	}
}